@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/CSS/Home.css" />
    <meta charset="utf-8" />
    <title>DMU Blogger Home</title>
</head>
<body>
    <div class="Contents">
        <header>
            <div class="BannerNavigationContainer">

            </div>
            <div class="KeypadLogoBanner"> </div>
                
            <nav class="Navigation">
                <button class="SelectedButton">Home</button>
                <button>Search</button>
                <button>Contact Us</button>
                <button>Register</button>
                <button>Login</button>
            </nav>
        </header>
        <section>
            <div class="Welcome">
                <p>Welcome to DMU Blogger</p>
            </div>
            <div class="Message">
                <p>
                    The number one website for those gamers who want to know more about what others think of the different games out there.
                </p>
            </div>

            <div class="flexOrder">
                <div class="firstColumn">
                    <p>Puzzle Games</p>
                    <p>Trivia</p>
                    <p> Combat Games</p>
                    <p>Kids Games</p>
                </div>
                <div class="secondColumn">
                    <p>Role Playing Games</p>
                    <div class="TextLogo"></div>
                    <p>Board Games</p>
                </div>

                <div class="thirdColumn">
                    <p>Racing Games</p>
                    <p>18+ Games</p>
                    <p>Platform Games</p>
                    <p>Card Games</p>
                </div>
            </div>


        </section>


        <footer>
            <div class="FooterText">
                dmuBlogger © 2020, Team SampleText
            </div>

        </footer>
    </div>
</body>
</html>
