@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">DmuBlogger is a great site for sharing reviews, talking games and high quality discussion</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Reviews</h2>
        <p>
            We have an extensive collection of reviews for you to browse
            and enjoy. Take your time to read over reviews for your favourite game,
            comment and discuss them with other users!
        </p>
        <p><a class="btn btn-default" href="~/Reviews">Browse Reviews &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Games</h2>
        <p>We have a database of games for you to browse, from which you can see all
        reviews for that game. You can also check the game's details to learn more about it.</p>
        <p><a class="btn btn-default" href="~/Games">Browse Games &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Developers</h2>
        <p>Every game has the developer behind it, and DmuBlogger is the best place to get
        info about them! Browse and add developers and browse game by developer.</p>
        <p><a class="btn btn-default" href="~/Developers">Browse Developers &raquo;</a></p>
    </div>
</div>