@model IEnumerable<dmuBlogger.Models.Blacklist>

@{
    ViewBag.Title = "Index";
    int x = 0;
}

<h2>You have been blacklisted from dmuBlogger!</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BlacklistIP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlacklistReason)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        //Show ban history
        if (item.BlacklistIP == Convert.ToString(ViewData["IP"]))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BlacklistIP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BlacklistReason)
                </td>
            </tr>
            x++;
        }
    }
@{
    //Redirect back home if not banned
    if (x == 0)
    {
        Response.Redirect("../Home/Index");
    }
}

</table>
