
@{
    ViewBag.Title = "About";
}
<br />

<style type="text/css">
   html {
    padding: 0;
    margin: 0;
}
h3 {
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: 300;
    font-stretch: normal;
    font-size: 20px;
    line-height: 24px;
    font-family: Roboto, Helvetica, Arial, Verdana, sans-serif;
    color: #4f4f4f;
    word-spacing: normal;
    letter-spacing: 5px:
}

h1 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: Roboto, Helvetica, Arial, Verdana, sans-serif;
  text-align: center;
  font-size: 35px;
  color: #4f4f4f;
}

.page {
    width: 60%;
    margin: 3% 20% 0% 20%;
    background: white;
}

.img1 {
    width: 100%;
    position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    display: /inline-block;
}

</style>


<div class="page">
    <h1>About Us</h1>
    <hr />
    <div><img src="~/Images/1.png" class="img1"></div> <hr />
    <div><p>This website is created for those who are passionate about games. It is always nice to know about the games you want before purchasing it, this website allows you to view other people review of the game before purchasing making it possible to avoid a terrible purchase. </p></div><br />
    <div class="row">
        <div class="col-md-4">
            <h2>Ben</h2>
            <p>
                Web engineer
                <br />
                <br />
                <br />
            </p>
        </div>
        <div class="col-md-4">
            <h2>Adam</h2>
            <p>
                Team Manger
                <br />
                <br />
            </p>
        </div>
        <div class="col-md-4">
            <h2>Reman</h2>
            <p>
                Web designer
            </p>
        </div>

    </div>
