@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DmuBlogger</h1>
    <p class="lead">
        DmuBlogger is the #1 site for exploring games, game developers and game reviews. Discuss your
        favourites in the comments with other users!
    </p>
    <p><a href="https://github.com/DMU-CTEC2902-1920/Sample-Text" class="btn btn-primary btn-lg">View site source &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Developers</h2>
        <p>
            All games have the people behind them! Here, you can browse, add and discuss game developers.
            You can add a game from a developer's detail page.
            <br />
            <br />
            <br />
        </p>
        <p><a class="btn btn-default" href="/Developers/Index">Browse developers &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Games</h2>
        <p>
            You can browse our extensive collection of game titles on DmuBlogger, and if you don't
            find the one you're looking for you can add it yourself! You can add a game to a developer from the developer's details page
            <br />
            <br />
        </p>
        <p><a class="btn btn-default" href="/Games/Index">Browse games &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Reviews</h2>
        <p>
            What game to play next? With DmuBlogger's reviews, you can see what others have to say about the latest and greatest titles.
            Tell others what you think, and discuss with others in the comments. You can add a review to a game from the game's details page
        </p>
        <p><a class="btn btn-default" href="/Reviews/Index">Browse reviews &raquo;</a></p>
    </div>
</div>