body {
    text-align: center;
}
#WhiteText {
    text-align: center;
    color:white;
}

/*Nav bar styling*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff2a2a;
    width:100%;
}

li {
  float: left;
}

/*Nav button styling*/
li a {
  display: block;
  color: white;
  float:right;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
}

li #UploadButton {
  position:absolute;
  display: block;
  color: white;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
}

input[type=text] {
    display: block;
    text-align: center;
    /*padding: 15px 16px;*/
    margin-top: 10px;
    text-decoration: none;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    width:99%;
    height:40px;
}
#userSearch {
    display: block;
    color: black;
    text-align: center;
    padding: 15px 16px;
    margin-top: 10px;
    text-decoration: none;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    margin-left: 30px;
    height: 10px;
    width: 90%;
}

/*Search select button styling*/
#SearchSelect {
    display: flex;
    background-color: white;
    margin-left: 10px;
}

#SearchSelect li {
    text-align: center;
    display:inline-block;
    width: 100%;
    margin-left:50px;
    padding:10px;
}

#SearchSelect a {
    color: black;
    text-align: center;
    background-color: white;
    display:inline-block;
    width: 100%;
    border-style: solid;
    border-width:3px;
    border-color:black;
}

#SearchSelect #SelectedValue {
    color: white;
    text-align: center;
    background-color: red;
    display:inline-block;
    width: 100%;
    border-style: solid;
    border-width:3px;
    border-color:black;
}

/*Selection box*/
select {
    width: 100%;
    margin: 10px;
    height:80%;
}

/*Viewing area below navbar box*/
#ViewingArea {
    position: absolute;
    left: 25%;
    margin-right: -25%;
    width: 50%;
    height: 80%;
}

button {
    color: black;
    text-align: center;
    background-color: white;
    display: inline-block;
    width: 100%;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    height:50px;
}

#ScoreBox {
    color: white;
    text-align: center;
    background-color: red;
    display: inline-block;
    width: 70px;
    height: 70px;
    font-size: 40px;
    margin-bottom:10px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

#RedBoxViewingArea {
    position: absolute;
    top: 40%;
    left: 40%;
    margin-top: -50px;
    margin-left: -100px; 
    width:30%;
    background-color: #ff2a2a;
}

/*Change nav buttons to a different background colour when hovered over*/
button:hover,li a:hover,#SearchSelect #SelectedValue:hover, #SearchSelect a:hover{
  background-color: #ba2020;
}